#main {
    background-color: #f2f2f2;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 4px solid #ddd;
}
#real-estates-detail #author img {
    /*-webkit-border-radius: 100%;*/
    /*-moz-border-radius: 100%;*/
    /*-ms-border-radius: 100%;*/
    /*-o-border-radius: 100%;*/
    /*border-radius: 100%;*/
    border: 5px solid #ecf0f1;
    margin-bottom: 10px;
}
#real-estates-detail .sosmed-author i.fa {
    width: 30px;
    height: 30px;
    border: 2px solid #bdc3c7;
    color: #bdc3c7;
    padding-top: 6px;
    margin-top: 10px;
}
.panel-default .panel-heading {
    background-color: #fff;
}
#real-estates-detail .slides li img {
    height: 450px;
}
.card {
    margin-bottom: 30px;
}

.create-button {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 70px;
    background-image: linear-gradient(to right, #010638, #8288d0);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.create-button:hover {
    color: #000;
    background-image: linear-gradient(to right, #033d11, #19f80b);
}
